/*#region Variables */

:root {
    /* Backgrounds */
    --background: #0D1520;
    --subtle-background: #111927;
    --ui-background : #0D2847;
    
    --hovered-element: #003362; /* SECONDARY : Hovered backgrounds / elements */
    --active-element: #004074;
    
    --subtle-borders: #104D87;
    --ui-border-focus: #205D9E;
    --ui-hovered-borders: #2870BD;

    --solid-backgrounds: #0090FF; /* PRIMARY 
        Website/App backgrounds
        Website section backgrounds
        Header backgrounds
        Component backgrounds
        Graphics/Logos
        Overlays
        Coloured shadows
        Accent borders */
    --hovered-solid-backgrounds: #3B9EFF; /* ACCENT : a contrasting color used to draw attention to key pieces of a web page */
    
    /* Texts */
    --low-contrast-text: #70B8FF;
    --high-contrast-text: #C2E6FF;

    /* To use a css variable => 
        color: var(--your-variable); */
}

.light {
    /* You should define the same as in root 
    but for a light mode */

    /* Backgrounds */
    --background: #dee6f2;
    --subtle-background: ;
    --ui-background : ;
    
    --hovered-element: #9ed0ff; /* SECONDARY */
    --active-element: ;
    
    --subtle-borders: ;
    --ui-border-focus: ;
    --ui-hovered-borders: ;

    --solid-backgrounds: #0091ff; /* PRIMARY */
    --hovered-solid-backgrounds: #0061c2; /* ACCENT */
    
    /* Texts */
    --low-contrast-text: ;
    --high-contrast-text: #001f3d;
}

/*#endregion Variables */


/*#region UniversalElements*/
* {
    margin: 0;
    padding: 0;
    color: var(--low-contrast-text);
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

h1, h2, h3, h4, h5 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    padding: 0.75em;
    color: var(--high-contrast-text);
}

h2 {
    font-size: 3em;
}

button {
    background-color: var(--ui-background);
    padding: 0.5em 0.5em;
    border: solid 3px var(--subtle-borders);
    border-radius: 4px;

    &:hover{
        background-color: var(--hovered-element);
        border: solid 3px var(--ui-hovered-borders);
    }
}

/*#endregion UniversalElements */

/*#region SpecificClasses_and_ids*/

/*#region Galery*/
.galery {
    display: block;
}

.galery img {
    width: 30%;
    height: 30%;
}
/*#endregion */

/*#region Banner */
#banner {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #banner::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        background-image: url("../assets/design/banner.jpg");
        background-size: cover;
        opacity: 0.25;
    }

    #banner div {
        width: 100%;
        position: relative;
        text-align: center;
    }
    
        #banner div h1 {
            color: var(--high-contrast-text);
            font-size: 4em;
            letter-spacing: 5px;
            padding-bottom: 0.5em;
        }
        
        #banner div p {
            font-size: 3em;
            font-weight: lighter;
            text-shadow: 3px 3px 2px var(--active-element);
        }
        
        #banner div a {
            display: inline-block;
            max-width: 250px;
            background-color: var(--ui-background);
            border: solid 3px var(--subtle-borders);
            border-radius: 8px;
            
            padding: 0.5em 0.8em;
            margin: 1.5em;
            font-size: 1.5em;

            text-decoration: none;

            &:hover {
                background-color: var(--hovered-element);
                border: solid 3px var(--ui-hovered-borders);
            }
        }
/*#endregion Banner */

/*#region AboutMe */
#about { 
    height: 100vh;
    padding: 2em 5em;
}

    #about h2 {
        text-align: center;
        padding: 1em;
        color: var(--high-contrast-text);
    }

    #about div {
        display: flex;
    }

#presentation {
    flex-direction: column;
    padding: 1em 4em;
}

    #presentation p {
        font-size: 1.3em;
        display: block;
        text-align: justify;
        margin-bottom: 3em;
    }

    #presentation hr {
        margin: 0 auto;
        width: 80%;
        height: 2px;
        border: none;
        border-radius: 6px;
        background: linear-gradient(
            90deg,
            var(--low-contrast-text),
            var(--high-contrast-text)
        );
    }

.links {
    flex-direction: row;
    display: block;
    margin: 2em;
    justify-content: center;
}

    .links div {
        padding: 0.5em;
        margin: 1em 2em;
        width: 50px;
        height: 50px;
        /* Add something to avoid rectangle images to wrap themselves*/
        object-fit: contain;
        cursor: pointer;
        background-color: var(--solid-backgrounds);
        
        &:hover {
            background-color: var(--hovered-solid-backgrounds);
        }
    }

.github-link {
    mask:url("../assets/logos/colored-logos/Github-logo\ colored.png") no-repeat center;
    mask-size: contain;
}

.linkedin-link {
    mask:url("../assets/logos/colored-logos/LinkedIn-logo\ colored.png") no-repeat center;
    mask-size: contain;
}

.gmail-link {
    mask:url("../assets/logos/colored-logos/gmail-logo\ colored.png") no-repeat center;
    mask-size: contain;
}


#profile-picture {
    padding: 1em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #profile-picture img {
        width: 260px;
        height: 338px;
        margin-bottom: 2em;
    }
    
    #profile-picture button {
        padding: 0.8em 1em 1em 1em;
        position: relative;
    }
        #profile-picture button img {
            display: inline;
            width: 20px;
            height: 20px;
            margin: 0;
            transform: translateY(+20%);
        }
        #profile-picture button p {
            display: inline;
            padding: 0.5em;
            font-size: 1.3em;
        }

/*#endregion AboutMe */

/*#region CurrentActivity */
#current-activity {
    position: relative;
    padding: 2.3em;
}

    #current-activity::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        background-image: url("../assets/design/ai-generated-7945689_1920_TheDigitalArtist.jpg");
        background-size: cover;
        opacity: 0.4;
        background-attachment: fixed;
    }

    /* Turn off parallax scrolling for all tablets and phones. */
    @media only screen and (max-device-width: 1366px) {
        #current-activity::before {
        background-attachment: scroll;
        }
    }

    #current-activity h2 {
        position: relative;
        margin-bottom: 0.5em;
        text-align: center;
        color: var(--high-contrast-text);
    }
    
    #current-activity p {
        text-align: center;
        position: relative;
        font-size: 1.3em;
    }
/*#endregion CurrentActivity */

/*#region TechnicalSkills */
#skills {
    padding: 2em;
}

    #skills h2 {
        text-align: center;
        padding: 1em;
        color: var(--high-contrast-text);
    }

.skill-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.left-skills {
    width: 80%;
    margin: 2em 5em;
    padding: 2.5em 2em 2.5em 3em;
    
    border-left: solid var(--subtle-borders) 4px;
    border-top: solid var(--subtle-borders) 4px;
    border-radius: 5px;
    justify-content: flex-start;
}

.right-skills {
    flex-direction: row-reverse;
    float: right;
    width: 80%;
    padding: 2.5em 3em 2.5em 2em;
    margin: 4em 5em;

    border-right: solid var(--subtle-borders) 4px;
    border-top: solid var(--subtle-borders) 4px;
    border-radius: 5px;
}

@media only screen and (max-device-width: 1366px) {
    .left-skills {
        border-image: linear-gradient(to right, var(--subtle-borders) 80%, transparent 50%) 100% 1;
    }
    
    .right-skills {
        border-image: linear-gradient(to left, var(--subtle-borders) 80%, transparent 50%) 100% 1;
    }
}


.skill-item {
    margin: 1.5em;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    height: 80px;
}

    .skill-item img {
        display: inline;
        object-fit: contain;
        max-width: 100px;
    }

    .skill-item span {
        padding: 1em;
        font-size: 1.6em;
        text-align: center;
        vertical-align: middle;
        color: inherit;
    }

.skill-title-left {
    position: absolute;
    top: -42px;
    left: 70px;
    font-size: 2.2em;
    padding: 0.5em 1.5em;
    background-color: var(--background);
    font-weight: normal;
}

.skill-title-right {
    position: absolute;
    top: -42px;
    right: 70px;
    font-size: 2.2em;
    padding: 0.5em 1.5em;
    background-color: var(--background);
    font-weight: normal;
}

.highlighted-item {
    background-color: var(--active-element);
    color: var(--high-contrast-text) !important;
}

/*#endregion TechnicalSkills */

/*#region Projects */

#projects {
    padding: 2em;
}

    #projects h2 {
        text-align: center;
        padding: 1em;
        color: var(--high-contrast-text);
    }

    #projects p {
        text-align: center;
        font-size: 20px;
    }

.project-slider {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    /* padding: 2em; */
    overflow-x: hidden;
    position: relative;
}

.project-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.project-item {
    min-width: 33%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 2em;
}

@media screen and (max-device-width: 1200px) {
    .project-item {
        min-width: 50%;
    }
}

@media screen and (max-device-width: 900px) {
    .project-item {
        min-width: 100%;
    }
}

.item-case { /* There is a problem with the position or size of the image. */
    width: 100%;
    height: 250px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    border: solid var(--subtle-borders) 4px;

    &:hover {
        border: solid var(--ui-border-focus) 4px;
    }
}

.item-case p {
    z-index: 10;
    font-size: 1.2vw !important;
    position: relative;
}

#moneybox-img::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        background-image: url("../assets/images/projects_icons/Piggybank-project-icon.png");
        background-size: cover;        
        background-position: center;
}

    #moneybox-img:hover:before {
        opacity: 0.20;
    }

#DQMJ-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-image: url("../assets/images/projects_icons/DQM-project-icon.png");
    background-size: cover;        
    background-position: center;
}

    #DQMJ-img:hover:before {
        opacity: 0.20;
    }

#portfolio-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-image: url("../assets/images/projects_icons/portfolio-project-icon.png");
    background-size: cover;        
    background-position: center;
}

    #portfolio-img:hover:before {
        opacity: 0.20;
    }

#genetic-algo-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-image: url("../assets/images/projects_icons/dna-8925103_1280_by_AcatXIo.png");
    background-size: cover;
    background-position: center;
}

    #genetic-algo-img:hover:before {
        opacity: 0.20;
    }

#codewars-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-image: url("../assets/images/projects_icons/codewars_icon.png");
    background-size: cover;
    background-position: center;
}

    #codewars-img:hover:before {
        opacity: 0.20;
    }

.item-details {
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

    .item-details h4 {
        margin: 1em 0em;
        font-size: 1.7vw;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item-details div{
        display: flex;
        justify-content: center;
    }

    .item-details img {    
        width: 50px;
        height: 40px;
        object-fit: contain;
    }

.github-project-button {
    background-color: transparent;
    border: none;
    height: 40px;
    position: absolute;
    bottom: 15px;
    z-index: 10;
    text-decoration: none;
    color: var(--solid-backgrounds);

    &:hover{
        background-color: transparent;
        color: var(--hovered-solid-backgrounds);
    }
}

    .github-project-button p {
        margin-left: 0.7em;
        transform: translateY(-50%);
        display: inline-block;
        font-weight: bold;
        color: inherit;
    }

    .github-project-button div {
        display: inline-block;
        height: 35px;
        width: 35px;
        background-color: var(--solid-backgrounds);

        mask:url("../assets/logos/colored-logos/Github-logo\ colored.png") no-repeat center;
        mask-size: contain;
        
        &:hover{
            background-color: var(--hovered-solid-backgrounds);
        }
    }

.project-controls {
    display: flex;
    justify-content: center;
}

    .project-controls button {
        margin: 0.5em;
        cursor: pointer;
        border-radius: 15px;
        display: flex;
        align-items: center;
    }

    .project-controls button img {
        width: 15px;
        height: 20px;
    }

    .project-controls .active {
        background-color: var(--active-element);
        border-color: var(--ui-hovered-borders);
    }

.next-project {
    transform: rotate(180deg);
    padding: 0.5em 0.7em 0.5em 0.5em !important;
}

.previous-project {
    padding: 0.5em 0.7em 0.5em 0.5em !important;
}


/*#endregion Projects */

/*#region Studies */
#studies {
    position: relative;
    padding: 2.3em 5em;
}

    #studies::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        background-image: url("../assets/design/digital-8280787_1280-WastedGeneration.jpg");
        background-size: cover;
        opacity: 0.3;
        background-attachment: fixed;
    }

    /* Turn off parallax scrolling for all tablets and phones. */
    @media only screen and (max-device-width: 1366px) {
        #studies::before {
        background-attachment: scroll;
        }
    }

    #studies h2 {
        position: relative;
        margin-bottom: 0.5em;
        text-align: center;
        color: var(--high-contrast-text);
    }
    
    /* #studies p {
        text-align: center;
        position: relative;
        font-size: 1.3em;
    } */

#studies-slider {
    z-index: 10;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

#studies-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.study-item {
    text-align: center;
    margin-bottom: 1em;
    min-width: 100%; /*width property wouldn't work*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

    .study-item h3 {
        font-size: 1.5em;
        margin-bottom: 0.7em;
    }

#studies-controls {
    display: flex;
    justify-content: center;
}

    #studies-controls button {
        margin: 1em;
        height: 20px;
        width: 20px;
        border-radius: 15px;
    }

.active-study {
    background-color: var(--subtle-borders) !important;
    border-color: var(--ui-border-focus) !important;
}

/*#endregion Studies */

/*#region Games */

#games {
    padding: 2em;
}

    #games h2 {
        text-align: center;
        padding: 1em;
        color: var(--high-contrast-text);
    }

    #games p {
        text-align: center;
        font-size: 20px;
    }

.game-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.game-item {
    min-width: 33%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 2em;
}

@media screen and (max-device-width: 1200px) {
    .game-item {
        min-width: 50%;
    }
}

@media screen and (max-device-width: 900px) {
    .game-item {
        min-width: 100%;
    }
}

.next-game {
    transform: rotate(180deg);
    padding: 0.5em 0.7em 0.5em 0.5em !important;
}

.previous-game {
    padding: 0.5em 0.7em 0.5em 0.5em !important;
}

#cherjournal-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-image: url("../assets/images/games_icons/CherJournal_AudreyDiary.png");
    background-size: cover;
    background-position: center;
}

#cherjournal-img:hover:before {
    opacity: 0.20;
}

#eartgame-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-image: url("../assets/images/games_icons/eart_game.png");
    background-size: cover;
    background-position: center;
}

#eartgame-img:hover:before {
    opacity: 0.20;
}

#hardestdungeon-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-image: url("../assets/images/games_icons/MainCharProjectionMode2_icon.png");
    background-size: cover;
    background-position: center;
}

#hardestdungeon-img:hover:before {
    opacity: 0.20;
}

#moregames-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-image: url("../assets/images/games_icons/OtherWorks_Icon.png");
    background-size: cover;
    background-position: center;
}

#moregames-img:hover:before {
    opacity: 0.20;
}

.website-button {
    background-color: transparent;
    border: none;
    height: 40px;
    position: absolute;
    bottom: 15px;
    z-index: 10;
    text-decoration: none;
    color: var(--solid-backgrounds);

    &:hover{
        background-color: transparent;
        color: var(--hovered-solid-backgrounds);
    }
}

    .website-button p {
        margin-left: 0.7em;
        transform: translateY(-50%);
        display: inline-block;
        font-weight: bold;
        color: inherit;
    }

    .website-button div {
        display: inline-block;
        height: 35px;
        width: 35px;
        background-color: var(--solid-backgrounds);

        mask:url("../assets/logos/colored-logos/website_icon.png") no-repeat center;
        mask-size: contain;
        
        &:hover{
            background-color: var(--hovered-solid-backgrounds);
        }
    }

.youtube-button {
    background-color: transparent;
    border: none;
    height: 40px;
    position: absolute;
    bottom: 15px;
    z-index: 10;
    text-decoration: none;
    color: var(--solid-backgrounds);

    &:hover{
        background-color: transparent;
        color: var(--hovered-solid-backgrounds);
    }
}

    .youtube-button p {
        margin-left: 0.7em;
        transform: translateY(-50%);
        display: inline-block;
        font-weight: bold;
        color: inherit;
    }

    .youtube-button div {
        display: inline-block;
        height: 35px;
        width: 35px;
        background-color: var(--solid-backgrounds);

        mask:url("../assets/logos/colored-logos/youtube_icon.png") no-repeat center;
        mask-size: contain;
        
        &:hover{
            background-color: var(--hovered-solid-backgrounds);
        }
    }

.dual-game-link {
    display: inline;
    position: absolute;
    bottom: 0px;
}

    .dual-game-link a {
        position: relative !important;
        margin: 1em !important;
    }

/*#endregion Games */

/*#region Contact */

#contact {
    padding: 2em;
}

    #contact h2 {
        text-align: center;
        padding: 1em;
        color: var(--high-contrast-text);
    }

    #contact p {
        text-align: center;
        font-size: 20px;
    }

/*#endregion Contact */

li.current {
    background-color: var(--active-element);
}

.highlighted-color {
    color: var(--high-contrast-text) !important;
}

/*#endregion SpecificClasses_and_ids*/