/* Universal elements */
* {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 1em;
}

/* Specific classes and ids*/

.galery {
    display: block;
}

.galery img {
    width: 25%;
    height: 25%;
}