/* Variables */

:root {
    /* Backgrounds */
    --background: #0D1520;
    --subtle-background: #111927;
    --ui-background : #0D2847;
    
    --hovered-element: #003362; /* SECONDARY : Hovered backgrounds / elements */
    --active-element: #004074;
    
    --subtle-borders: #104D87;
    --ui-border-focus: #205D9E;
    --ui-hovered-borders: #2870BD;

    --solid-backgrounds: #0090FF; /* PRIMARY 
        Website/App backgrounds
        Website section backgrounds
        Header backgrounds
        Component backgrounds
        Graphics/Logos
        Overlays
        Coloured shadows
        Accent borders */
    --hovered-solid-backgrounds: #3B9EFF; /* ACCENT : a contrasting color used to draw attention to key pieces of a web page */
    
    /* Texts */
    --low-contrast-text: #70B8FF;
    --high-contrast-text: #C2E6FF;

    /* To use a css variable => 
        color: var(--your-variable); */
}

.light {
    /* You should define the same as in root 
    but for a light mode */

    /* Backgrounds */
    --background: #dee6f2;
    --subtle-background: ;
    --ui-background : ;
    
    --hovered-element: #9ed0ff; /* SECONDARY */
    --active-element: ;
    
    --subtle-borders: ;
    --ui-border-focus: ;
    --ui-hovered-borders: ;

    --solid-backgrounds: #0091ff; /* PRIMARY */
    --hovered-solid-backgrounds: #0061c2; /* ACCENT */
    
    /* Texts */
    --low-contrast-text: ;
    --high-contrast-text: #001f3d;
}




/* Universal elements */
* {
    margin: 0;
    padding: 0;
    color: var(--low-contrast-text);
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

h1, h2, h3, h4, h5 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    padding: 0.75em;
    color: var(--high-contrast-text);
}

h2 {
    font-size: 3em;
}

button {
    background-color: var(--ui-background);
    padding: 0.5em 0.5em;
    border: solid 3px var(--subtle-borders);
    border-radius: 4px;
}

    button:hover {
        background-color: var(--hovered-element);
        border: solid 3px var(--ui-hovered-borders);
    }




/* Specific classes and ids*/

#banner {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #banner::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        background-image: url("../assets/design/banner.jpg");
        background-size: cover;
        opacity: 0.25;
    }

    #banner div {
        width: 100%;
        position: relative;
        text-align: center;
    }
    
        #banner div h1 {
            color: var(--high-contrast-text);
            font-size: 4em;
            letter-spacing: 5px;
            padding-bottom: 0.5em;
        }
        
        #banner div p {
            font-size: 3em;
            font-weight: lighter;
            text-shadow: 3px 3px 2px var(--active-element);
        }
        
        #banner div a {
            display: inline-block;
            max-width: 250px;
            background-color: var(--ui-background);
            border: solid 3px var(--subtle-borders);
            border-radius: 8px;
            
            padding: 0.5em 0.8em;
            margin: 1.5em;
            font-size: 1.5em;

            text-decoration: none;
        }
        
            #banner div a:hover {
                background-color: var(--hovered-element);
                border: solid 3px var(--ui-hovered-borders);
            }

#about {    
    height: 100vh;
    padding: 2em 3em;
}

    #about h2 {
        text-align: center;
        padding: 1em;
    }

    #about div {
        display: flex;
    }

        #about div p {
            font-size: 1.4em;
            display: block;
            text-align: justify;
            padding: 1em 3em;
        }

#profile-picture {
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #profile-picture img {
        width: 240px;
        height: 330px;
        margin-bottom: 2em;
    }
    
    #profile-picture button {
        padding: 0.8em 1em 1em 1em;
        position: relative;
    }
        #profile-picture button img {
            display: inline;
            width: 20px;
            height: 20px;
            margin: 0;
            transform: translateY(+20%);
        }
        #profile-picture button p {
            display: inline;
            padding: 0.5em;
        }

.galery {
    display: block;
}

.galery img {
    width: 30%;
    height: 30%;
}

.highlighted-color {
    color: var(--high-contrast-text);
}