#navigation {
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navigation ul {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

#navigation ul li {
    list-style-type: none;
    padding: 1em 1em;
    min-width: 90px;
    text-align: center;
    font-size: 1.4em;
    color: azure;
    cursor: default;
}

#navigation ul li:hover {
    background-color: rgb(56, 56, 56);
    color: firebrick;
    font-weight: bold;
}

#navigation ul li a {
    color: inherit;
    text-decoration: none; /* Remove underlining from 'a' elements */
}

#nav-height {
    height: 5em;
}

.nav-expansion {
    width: 100%;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    background-color: rgba(22, 22, 22, 0.9);
    position: absolute;
}

#more-projects, #more-games{
    visibility: hidden; /* Removing absolute from parent and setting the display to none could also be an option.*/
}